@import './../../styles/mixins'
    
.container
    padding: 10% 0
    display: flex
    flex-direction: column
    gap: 4rem
    .header
        padding-left: 7%
        display: flex
        flex-direction: column
        gap: 2rem
        h3
            font-weight: 500
            font-size: 3rem
        p
            position: relative
            font-weight: 400
            font-size: 2rem
            padding-left: 8rem
            &::before  
                display: block 
                width:8rem                 
                content: ''                  
                position: absolute           
                border-bottom: 1px solid #000
                top: 1.2rem
                left: -.3rem
    .content
        display: flex
        gap: 4rem
        @media ( max-width: 1000px )
            flex-direction: column
            align-items: center
            p
                text-align: center    
        &__img
            width: 100%
            max-width: 60.6rem
            max-height: 40rem
        .description
            width: 66.3rem
            display: flex
            flex-direction: column
            justify-content: start
            align-items: flex-start
            gap: 5rem
            @media( max-width: 1000px )
                width: 100%
                height: auto
                align-items: center
            button
                @include button
            p
                font-weight: 300
                font-size: 2rem            
            .shops
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center   
                &__logo
                    @media( max-width: 1000px )
                        display: none
                        
